testingprojecthealthcare/pipeline/copydata_from_rawfiles_to_sqldb_pipeline.json
{
	"name": "copydata_from_rawfiles_to_sqldb_pipeline",
	"properties": {
		"activities": [
			{
				"name": "Lk_file_name",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ls_for_lookup_file_adls_to_sql",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach_copy_file_into_sql",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lk_file_name",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lk_file_name').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy_data_into_tables",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "generic_adls_flat_file_ds",
									"type": "DatasetReference",
									"parameters": {
										"file_name": {
											"value": "@item().FileName",
											"type": "Expression"
										},
										"file_path": {
											"value": "@split(item().FilePath, '/')[0]",
											"type": "Expression"
										},
										"container": {
											"value": "@item().Container",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "generic_sql_ds",
									"type": "DatasetReference",
									"parameters": {
										"db_name": {
											"value": "@item().DatabaseName",
											"type": "Expression"
										},
										"schema_name": {
											"value": "dbo",
											"type": "Expression"
										},
										"table_name": {
											"value": "@item().TableName",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}